.image{
    max-width: 30%;
    padding-left: 25%;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.welcomeText{
    padding-left: 20%;
}
.signinbutton{
    color:red;
    border-radius: 50px;
    margin: 500px;
}